@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  color: black;
  background: transparent;
  border: 1.2px solid black;
  outline: none;
  border-radius: 5px;
  appearance: none;
  /* Remove default dropdown arrow */
}

.input-group label {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: gray;
  pointer-events: none;
  transition: 0.3s ease all;
  background: #F3F4F6;
  padding: 0 5px;
}

div select {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: gray;
}

/* blockquote::before {
  content: "\201C";
  font-size: 4rem;
  margin-right: 4px;
  color: #000;
} */



/* Scrrol Hidden */

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.swiper-button-next,
.swiper-button-prev {
  color: #FAA818 !important;
  /* Change this to your desired color */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #E0403B !important;
  /* Change this to your desired hover color */
}


.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}


/* card style */


