@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  color: black;
  background: transparent;
  border: 1.2px solid black;
  outline: none;
  border-radius: 5px;
  appearance: none;
  /* Remove default dropdown arrow */
}

.input-group label {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: gray;
  pointer-events: none;
  transition: 0.3s ease all;
  background: #F3F4F6;
  padding: 0 5px;
}

div select {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: gray;
}



/* Scrrol Hidden */

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}